.blockqoute-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 0.5rem;
    margin: 0 0 0.5rem 0;
}

.blockqoute {
    width: fit-content;
    border: none;
    margin: 0;
    padding: 0;

    &__quote {
        color: var(--text-color-1);
        text-align: right;

        font: {
            style: italic;
        }
    }

    &__author {
        display: flex;
        gap: 0.25rem;
        color: grey;

        font: {
            size: var(--fs-14);
        }
    }
}
